---
layout: default
---

<div id="archive">
    <h2>Archive</h2>

    <div>
        <ul id="post-list">
            {% for post in site.posts %}
            <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h3>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h3>

                {% for category in post.categories %}
                <span class="post-tag">{{category}}</span>
                {% endfor %}

                <p>
                    {{ post.content | strip_html | truncatewords: 60 }}
                </p>

                <div class="post-read-more">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <span>Read more</span>
                        {% include arrow-right.html %}
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>

        <p id="post-list-read-more">
            Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.
        </p>
    </div>
</div>
