---
layout: default
---

<div id="homepage">
    <div>
        <h2>Latest Posts</h2>
    </div>

    <div id="post-list-container">
        <ul id="post-list">
            {% assign show = 4 %}
            {% for post in site.posts limit:show %}
            <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h3>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h3>

                {% for category in post.categories %}
                <span class="post-tag" aria-hidden="true">{{category}}</span>
                {% endfor %}

                <p>
                    {{ post.content | strip_html | truncatewords: 30 }}
                </p>

                <div class="post-read-more">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <span>Read more</span>
                        {% include arrow-right.html %}
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>

        <p id="post-list-read-more">
            Want more? <a href="{{ site.baseurl }}/archive.html">Read the other {{ site.posts.size | minus: show
            }} articles</a> or subscribe <a href="{{ "/feed.xml"
            | prepend: site.baseurl }}">via RSS</a>.
        </p>
    </div>

    <hr>

    <div id="open-source-container">
        <h2>Open Source</h2>

        <ul>
            <li>
                <h5>lambda-at-edge-basic-auth</h5>
                <p>An example of using Lambda@Edge to authenticate requests to CloudFront.</p>
                <a href="https://github.com/jSherz/lambda-at-edge-basic-auth">
                    <span>View on GitHub</span>
                    {% include arrow-right.html %}
                </a>
            </li>

            <li>
                <h5>docs-auth-lambda</h5>
                <p>Secure a private static site with GSuite and Lambda@Edge.</p>
                <a href="https://github.com/jSherz/docs-auth-lambda">
                    <span>View on GitHub</span>
                    {% include arrow-right.html %}
                </a>
            </li>

            <li>
                <h5>lsd-members</h5>
                <p>The Leeds University Skydivers membership management system.</p>
                <a href="https://github.com/jSherz/lsd-members">
                    <span>View on GitHub</span>
                    {% include arrow-right.html %}
                </a>
            </li>

            <li>
                <h5>ros-tls</h5>
                <p>
                    A simple script to acquire TLS certificates for RouterOS devices using the Let&rsquo;s Encrypt.
                </p>
                <a href="https://github.com/jSherz/ros-tls">
                    <span>View on GitHub</span>
                    {% include arrow-right.html %}
                </a>
            </li>
        </ul>
    </div>
</div>
