<footer>
    <div>
        <div>
            <h4>{{ site.title }}</h4>
            <p>{{ site.description }}</p>
        </div>

        <div>
            <h4>Contact</h4>
            <p>Need to get in touch? <a href="mailto:{{ site.email }}">E-mail me</a> or try one of the social media
                accounts to the right.</p>
            <p>Find my PGP key <a href="https://keybase.io/jsj">on
                Keybase</a>.
            </p>
        </div>

        <div id="social-list">
            <h4>Social</h4>
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                        <i class="fab fa-linkedin-in"></i><span>LinkedIn</span>
                    </a>
                </li>

                <li>
                    <a href="https://github.com/{{ site.github_username }}">
                        <i class="fab fa-github"></i><span>GitHub</span>
                    </a>
                </li>

                <li>
                    <a href="https://twitter.com/{{ site.twitter_username }}">
                        <i class="fab fa-twitter"></i><span>Twitter</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<script defer src="https://pro.fontawesome.com/releases/v5.5.0/js/all.js"
        integrity="sha384-3yBLeJ4waqGSAf4A8pjZ13UF7GuhgbdKnBQvIp/TkWoXtQbtwjlIPNjkDRJ46UCn"
        crossorigin="anonymous"></script>
