<header id="site-header">
    <div>
        <h1>
            <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        </h1>

        <nav>
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
            {% endfor %}
            <a href="https://github.com/{{ site.github_username }}" title="View James on GitHub"><i
                    class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="View James on LinkedIn"><i
                    class="fab fa-linkedin-in"></i></a>
        </nav>
    </div>
</header>
