header {
  a {
    color: $text-color;
  }
}

nav .fa-github-square {
  margin-right: 0.4rem;
}

#tagline {
  margin-left: 1rem;
  line-height: 1;
}

h2 {
  margin-left: 1.2rem;
}

ul#post-list {
  h2 {
    margin-bottom: 0;
    margin-left: 0;
  }
}

.post-content {
  h2 {
    margin-left: 0;
  }
}

#open-source-container {
  margin-top: 0 !important;
}

#social-list {
  li span {
    margin-left: 0.5rem;
  }
}
